<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.12.4.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

    <!--<script>-->
      <!--$(document).ready(function() {-->
        <!--$('#table_players').DataTable();-->
      <!--});-->

    <!--</script>-->

    <script>
        $(document).ready(function() {
             $('#table_players').DataTable( {
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/players_json",
                    "dataSrc": ""
                },

                "columns": [
                    { "data": "player_id" },
                    { "data": "name" },
                    { "data": "level" },
                    { "data": "alignment" },
                    { "data": "clan_name" },
                    { "data": "health" },
                    { "data": "strength" },
                    { "data": "dexterity" },
                    { "data": "resistance" },
                    { "data": "intuition" },
                    { "data": "attention" },
                    { "data": "charism" }
                ]
             });
        });
    </script>


    <title>Players</title>
</head>

<body>
<h1>Players</h1>
<div class="table-responsive">

    <table class="table table-hover" id="table_players">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Level</th>
            <th scope="col">Alignment</th>
            <th scope="col">Clan</th>
            <th scope="col">Health</th>
            <th scope="col">Strength</th>
            <th scope="col">Dexterity</th>
            <th scope="col">Resistance</th>
            <th scope="col">Intuition</th>
            <th scope="col">Attention</th>
            <th scope="col">Charism</th>
        </tr>
        </thead>
        <tbody>
        {% for player in data %}
        <tr>
            <td>{{ player.player_id }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.level }}</td>
            <td>{{ player.alignment }}</td>
            <td>{{ player.clan.name }}</td>
            <td>{{ player.health }}</td>
            <td>{{ player.strength }}</td>
            <td>{{ player.dexterity }}</td>
            <td>{{ player.resistance }}</td>
            <td>{{ player.intuition }}</td>
            <td>{{ player.attention }}</td>
            <td>{{ player.charism }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


</body>
</html>